body {
    line-height: 1.7;
  }
  @media (max-width:1600px){
    html{
      font-size: 15px;
    }
  }
  a{
    text-decoration: none;
  }
  .banner {
    background-image: 
        radial-gradient(closest-side,rgba(235,105,78,1),rgba(235,105,78,0)),
        radial-gradient(closest-side,rgb(230, 60, 173),rgba(243,11,164,0)),
        radial-gradient(closest-side,rgb(248, 157, 38),rgba(254,234,131,0)),
        radial-gradient(closest-side,rgba(170,142,245,1),rgba(170,142,245,0)),
        radial-gradient(closest-side,rgb(105, 177, 219),rgba(248,192,147,0));
    background-size: 
        26vmax 26vmax,
        27vmax 27vmax,
        26vmax 26vmax,
        25vmax 25vmax,
        30vmax 30vmax;
    background-position: 
        18vmax -14vmax,
        36vmax -8vmax,
        55vmax -10vmax,
        78vmax -7vmax,
        -7vmax -5vmax;
    animation: 6s movement linear infinite;
    background-repeat: no-repeat;
    background-color: #e493d0;
    color:#ffffff;
    border-bottom:3px solid #e67c7c;
    padding: 1.8% 0px;
    height:100%;
    line-height:1;
  }
  @keyframes movement {
    0%,100%{
        background-size: 
        26vmax 26vmax,
        27vmax 27vmax,
        26vmax 26vmax,
        25vmax 25vmax,
        30vmax 30vmax;
        background-position: 
        18vmax -14vmax,
        36vmax -8vmax,
        55vmax -10vmax,
        78vmax -7vmax,
        -7vmax -5vmax;
    }
    25%{
        background-size: 
        30vmax 30vmax,
        25vmax 25vmax,
        28vmax 28vmax,
        30vmax 30vmax,
        28vmax 28vmax;
        background-position: 
        11vmax -10vmax,
        40vmax -10vmax,
        60vmax -5vmax,
        88vmax -5vmax,
        -1vmax -10vmax;
    }
    50%{
        background-size: 
        32vmax 32vmax,
        28vmax 28vmax,
        30vmax 30vmax,
        27vmax 27vmax,
        25vmax 25vmax;
        background-position: 
        15vmax -5vmax,
        43vmax -5vmax,
        65vmax 0vmax,
        80vmax -10vmax,
        -11vmax -17vmax;
    }
    75%{
        background-size: 
        28vmax 28vmax,
        31vmax 31vmax,
        27vmax 27vmax,
        30vmax 30vmax,
        28vmax 28vmax;
        background-position: 
        20vmax -10vmax,
        38vmax -9vmax,
        60vmax -5vmax,
        85vmax -15vmax,
        -1vmax -12vmax;
    }
  }
  .banner .intro{
    margin-left:12.5%;
    font-size: 120%;
    font-family: Courier;
    font-weight: bold;
  }
  .banner .logo{
    width:27%;
    margin-left:12%;
    margin-top:25px
  }
  .nav a{
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
  }
  .nav {
    color:#ffffff;
    background-color:#1b1b1b;
    font-size:140%;
    text-align:center;
    font-family:Helvetica;
    line-height:1;
    font-weight: 550;
    a:link, a:visited {
      color: #ffffff;
      background-color: #1b1b1b;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      padding: 0.6% 3.5%;
    }
    a:hover, a:active {
      background-color: #e67c7c;
    }
  }
  .nav :first-child {
    margin-left:15%;
  }
  .nav .login{
    float: right;
    margin-right: 7.5%;
  }
  .side-bar{
    background-color: #1b1b1b;
    width:13%;
    height: calc(100vh - 60px);
    float:left;
    position:fixed;
    /*border-right: solid #8e83aa*/
    margin-top: 60px;
  }
  .side-bar > *{
    padding: 1px;
    margin-top: 15px;
  }
  .side-bar .logo{
    width: 90%;
    margin-left:5%;
  }
  #side-bar-content{
    display: none;
    opacity: 1;
    transition: all 300ms;
  }
  .side-bar .tag-list :first-child {
   margin-top: 10px;
  }
  .side-bar .tag-list a{
    display: block;
    padding:25px;
    text-align: center;
    color: #8a8a8a;
    font-weight: 1000;
    font-size: 130%;
    transition: all 500ms;
    
  }
  .side-bar .tag-list a:hover{
    color:#ddf0fd;
    text-shadow: rgb(97, 156, 243) 1px 0 20px;
  }
  .main {
    width: 87%;
    background-image: url('../pics/back.jpg');
    background-color: #ffffff;
    border-top-left-radius: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*margin: 0 18%;*/
    float:right;
    box-shadow: inset 5px 5px 10px -5px #000000;
  }
  .article-list{
    margin-right: 40%;
    padding: 3.1% 0px;
    margin-left:10%;
  }
  .article-list .item {
    margin-bottom: 30px;
  }
  .article-list .item .title{
    font-size: 27px;
    font-weight: 700;
    margin: 8px 0;
    color:#000000;
  
  }
  .article-list .item .status{
    font-size: 15px;
    color: #686868;
    margin: 4px 0;
  }
  li {
    list-style-type: none;
  }
  /*a:link, a:visited {
    color: rgb(255, 255, 255);
    background-color: #f44336;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
  }
  a:hover, a:active {
    background-color: red;
  }*/
  .show{
    transition-duration: 1s;
  }